<p>formularios works!</p>
<form [formGroup]="form">
  <div>
    <input type="text" placeholder="Nombre" formControlName="name" />
    <!-- valor: -->
    <pre>
    {{ form.get("name")?.value }}
    </pre>
    <!-- directiva formControl -->
  </div>

  <div>
    <input type="checkbox" formControlName="isChecked" />

    <!-- <pre>
      {{ isChecked | json }}
  </pre> -->
    <!-- <code>
      {{ isChecked | json }}
    </code> -->
    {{ form.get("isChecked")?.value }}
  </div>
</form>
{{ form.value | json }}
<button [disabled]="form.get('name')?.errors">Send</button>
