hola App

<app-header></app-header>
<!-- <button [routerLink]="['/estructural']">ir a estructural</button> -->

<!-- <button [routerLink]="['/estructural']" routerLinkActive="active">
  ir a estructural
</button>
<button [routerLink]="['/pipes']" routerLinkActive="active">ir a pipes</button>
<button [routerLink]="['/compra']" routerLinkActive="active">compra</button> -->
<!-- enviar al componente header -->

<hr />
<router-outlet></router-outlet>

<app-todo></app-todo>

<!-- 
  rutas:
  /pipes
  /estructural
-->

<!-- <app-header></app-header> -->

<!-- <h1>Directivas</h1>

<h2>De atributos</h2>

<app-atributo></app-atributo>
<hr>
<h2>Estructurales</h2>
<app-estructural></app-estructural> -->

<!-- <hr />
<h2>Pipes</h2>
<app-pipes></app-pipes>

<app-listado></app-listado> -->
